.App {
  text-align: center;
}
.App-header {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: rgb(253, 237, 245);
}
.CardsConteiner {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
